.container {
  display: grid;
  width: 50%;
  margin-left: 25%;
  text-align: center;
  background-color: #fff;
  box-shadow: -4px 3px 14px #999;
  padding: 20px;
  
  h1 {
    margin: 20px 0;
  }
  
  h2 {
    text-align: left;
    text-indent: 20px;
  }
  
  .tabular {
    a {
      display: block;
      height: 40px;
      line-height: 40px;
      background-color: #f7f7f7;
      margin: 0 20px;
      text-align: left;
      text-indent: 10px;
      border: 1px solid #999;
      border-bottom: none;
    }

    a:last-child {
      border-bottom: 1px solid #999;
    }

    a:hover {
      background-color: #999;
    }
  }
}